<h2>Review details</h2>

<h4>User:{{review.name}}</h4><hr />
<p>Comment:{{review.comment}}</p><hr />
<p>Stars:{{review.stars}}</p><hr />

<a href="/review/{{review._id}}/edit">Edit!</a>
<a href="/review/{{review._id}}/delete">Delete!</a>

