<div class="container">
  <div class="row">
      <div class="col my-4">
        <h1>{{ restaurant.name }}</h1>
        <p>This restaurant was posted by: <b> {{ restaurant.owner.name }} </b></p>
        
        <hr>

        <div class="row mt-5">
          <div class="col ">
            <h3>Cuisine:</h3>
          </div>

          <div class="col">
            <p> {{ restaurant.cuisine }}</p>
          </div>
        </div>
        
        <hr>
        
        <div class="row my-5">
          <div class="col d-flex flex-column align-items-center justify-content-center">
            <h3>Gallery</h3>
            <img src="{{restaurant.imageUrl}}" alt="" width="300" class="my-5">
          </div>

        {{#if isOwner}}
      </div>
      <hr>

  </div>

 <div class="row">
      <div class="col">
        <form action="/restaurant/edit/{{restaurant._id}}/" method="post" id="edit-form" > 
         
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col col-md-4 d-flex flex-column">
            <label for="">Name</label>
            <input type="text" name="name" id="" value="{{restaurant.name}}">

            <label for="">Cuisine</label>
            <input type="text" name="cuisine" id="" value="{{restaurant.cuisine}}">
          </div>

          <div class="col d-flex">
          <img src="{{restaurant.imageUrl}}" alt="" width="200">

            <div class="col d-flex flex-column m-3 m-md-5" >
              <label for="">Upload new image</label>
              <input type="text" name="imageUrl" id="" value="{{restaurant.imageUrl}}"> 
            </div>

          </div>
        </div>
        <br/>
          
      
      <div class="row">
        
        <div class="col d-flex justify-content-between">
          <button type="submit">Save changes</button>
        </form>
        
          <form action="/restaurant/delete/{{restaurant._id}}" method="post">
            <button type="submit">Delete this restaurant</button>
          </form>
        </div>
      </div>
      
      </div>
  
  
   <div class="row mt-4">
      <div class="col">

        {{/if}}
        <hr>

        {{!-- if there are reviews, show them, if not, forget about it 🙃 --}}
        {{#if restaurant.reviews}}
        <h3>Reviews</h3>
        {{#each restaurant.reviews}}
        <p> <b>{{ this.user.name }} said: </b> {{ this.comment }}  </p>
        {{#if canBeChanged}}
        <a href="/review/{{this._id}}">Edit</a>
        <form action="/review/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
        </form>
        <hr>
      {{/if}}
  
  {{/each}}
{{/if}}
      </div>
    </div>

        {{!-- USER CAN NOT LEAVE REVIEWS ON THEIR OWN PROPERTIES --}}
        {{!-- this means that only if the user IS NOT the owner, this form will be shown --}}
 {{#if isNotOwner}}

<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      <h2 data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse" >Add a review</h2>
    </div>
  </div>

  <div class="row collapse" id="collapse">

    <div class="col-12 col-md-10">
      <form action="/review/create/{{restaurant._id}}" method="POST">
        <textarea name="comment" id="" class="form-control h-25 mb-3 " ></textarea>
    </div>



    <div class="col-12 col-md d-flex align-items-center justify-content-center ">

      <select name="stars" id="stars" required>
        <option value="" selected disabled hidden>Stars</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>  
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

    </div>

    <div class="row">
      <div class="col col-md-12 d-flex justify-content-center justify-content-md-start p-0">
        <button class="btn  btn-block btn-dark text-uppercase" type="submit">Add</button>
      </div>
    </div>
      
      </form>
      {{/if}}
      
  </div>

</div>

</div>