<div class="container">
  <div class="row">
      <div class="col my-4">
        <h1>{{ restaurant.name }}</h1>
        <p>This restaurant was posted by: <b> {{ restaurant.owner.name }} </b></p>
        
        <hr>

        <div class="row mt-5">
          <div class="col ">
            <h3>Cuisine:</h3>
          </div>

          <div class="col">
            <p> {{ restaurant.cuisine }}</p>
          </div>
        </div>
        
        <hr>
        
        <h3>Gallery:</h3>
        <img src="{{restaurant.imageUrl}}" alt="" width="300">
        {{#if isOwner}}
        <button id="toggle-button">Update restaurant details</button>
        <hr>
      </div>
  </div>

 <div class="row">
      <div class="col">
        <form action="/restaurant/edit/{{restaurant._id}}/" method="post" id="edit-form" > 
          <label for="">Name</label>
          <input type="text" name="name" id="" value="{{restaurant.name}}">

          <label for="">Cuisine</label>
          <input type="text" name="cuisine" id="" value="{{restaurant.cuisine}}">

          <img src="{{restaurant.imageUrl}}" alt="" width="200">
          <label for="">Upload new image</label>
          <input type="text" name="imageUrl" id="" value="{{restaurant.imageUrl}}"> 

          <button type="submit">Save changes</button>
        </form>
        <br/>

        <form action="/restaurant/delete/{{restaurant._id}}" method="post">
          <button type="submit">Delete this restaurant</button>
        </form>
      <hr>
      </div>
  </div>

   <div class="row">
      <div class="col">
        {{/if}}

        {{!-- if there are reviews, show them, if not, forget about it 🙃 --}}
        {{#if restaurant.reviews}}
        <h3>Reviews:</h3>
        {{#each restaurant.reviews}}
        <p> <b>{{ this.user.name }} said: </b> {{ this.comment }}  </p>
        {{#if canBeChanged}}
        <a href="/review/{{this._id}}">Edit</a>
        <form action="/review/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
        </form>
        <hr>
      {{/if}}
  
  {{/each}}
{{/if}}
      </div>
    </div>

     <div class="row">
      <div class="col">
        {{!-- USER CAN NOT LEAVE REVIEWS ON THEIR OWN PROPERTIES --}}
        {{!-- this means that only if the user IS NOT the owner, this form will be shown --}}

      {{#if isNotOwner}}
      <h2>Add a review:</h2>
      <form action="/review/create/{{restaurant._id}}" method="POST">
      <textarea name="comment" id="" cols="10" rows="5"></textarea>
      <button type="submit">Add</button>
  </form>
{{/if}}
      </div>
    </div>
</div>